*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
html, body, section{
    height: 100%;
}
header{
    width: 100%;
    position: fixed;
}
nav{
    height: 100px;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
a{
    text-decoration: none;
    font-size: 20px;
    color:white;
    width: 20%;
}
a p{
    color:white;
}
a:hover{
    background: rgba(0,0,0,0);
	color: gray;
	box-shadow: inset 0 0 0 100px gainsboro;
}
button{
    width: 15%;
    height: 25%;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    font-size: 25px;
    color: white;
}
button:hover {
	background: rgba(0,0,0,0);
	color: gray;
	box-shadow: inset 0 0 0 100px white;
}
a:hover{
    background: rgba(0,0,0,0);
	color: gray;
	box-shadow: inset 0 0 0 100px gainsboro;
}
.section-h1{
    background-image:url(https://club.foto.ru/gallery/images/preview/2016/09/28/2483506.jpg);
    background-size: cover;
}
.main-h1{
    padding-top:22%;
    text-align: center;
    justify-content: center;
}
h1{
    color: white;
    font-size: 70px;

}
.section-skr{
    background-color: #DCDCDC;
    height: 140%;
}
.main-skr{
    height: 90%;
    width: 90%;
    padding: 5%;
    margin: auto;
}
.img-skr{
    flex-wrap: wrap;
    height: 40%;
    width: 30%;
    margin-left: 2%;
    margin-bottom: 2%;
}
footer{
    height: 20%;
    background-color:gray ;
}
.soc-icon{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.icon-watssap{
    width: 30px;
    height: 30px;
    margin-top: 3%;
    margin-left: 2%;
}
.my-skill-bar{
    width: 80%;
    height: 5px;
    background-color: #34547A;
}
.my-skill-bar1{
    width: 80%;
    height: 5px;
    background-color: red;
}
.my-skill-container{
    width: 80%;
    background-color:#C4C4C4;
    margin: 5% 5% 5% 5%
}
.p1{
    color: blue;
}
.p2{
    color:red;
}
.language{
    margin-left: 5%;
    font-size: 120%;
}


